<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- App title -->
    <title>Syriaca.org: Gazetteer App</title>
    <!-- App description -->
    <description>A subset of Syriaca.org including code for gazetteer display only.</description>
    <!-- Contact email -->
    <contact>info@syriaca.org</contact>
    <!-- Logo name (assumes path to logo is $app-root/resources/img/) -->
    <logo>syriaca-logo.png</logo>
    <!-- Site URL -->
    <url>http://syriaca.org/</url>
    <!-- Root of app for building dynamic links. Default is eXist app root -->
    <nav-base>/exist/apps/geo</nav-base>
    <!-- eXist app root -->
    <app-root>geo</app-root>
    <!-- eXist app root for gazetteer data -->
    <data-root>srophe-data</data-root>
    <!-- Base URI for identifiers in app data -->
    <base_uri>http://syriaca.org</base_uri>
    <!-- Map rendering -->
    <maps>
        <option>google</option>
        <option selected="true">leaflet</option>
    </maps>
</config>