<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- App title -->
    <title>Logar: Linked Open Gazetteer of the Andean Region</title>
    <!-- App description -->
    <description></description>
    <!-- Contact email -->
    <contact></contact>
    <!-- Logo name (assumes path to logo is $app-root/resources/img/) -->
    <logo>logar.png</logo>
    <!-- Site URL -->
    <url>http://logar.edu</url>
    <!-- Root of app for building dynamic links. Default is eXist app root -->
    <nav-base>/exist/apps/geo</nav-base>
    <!-- eXist app root -->
    <app-root>geo</app-root>
    <!-- eXist app root for gazetteer data -->
    <data-root>logar-data</data-root>
    <!-- Base URI for identifiers in app data 
    http://logar.edu
    -->
    <base_uri>http://logar.org/place</base_uri>
    <!-- Map rendering -->
    <maps>
        <option selected="true">google</option>
        <option>leaflet</option>
    </maps>
</config>
